@model IEnumerable<ThuongMaiDienTu.Models.SanPham>

@{
    ViewBag.Title = "Tìm kiếm theo loại";
    Layout = "~/Views/Home/Layout.cshtml";
}

@using ThuongMaiDienTu.Models

<style>
    .bc {
        box-shadow: 1px 4px 10px #AAAAAA;
    }
    .bi-star-fill {
        color: gold !important;
    }
</style>
<link rel="stylesheet" href="~/Content/dichChuyen.css" />

<link rel="stylesheet" href="~/Content/TheSanPhamm.css" />

<div class="row w-100 bg-info" style="padding:20px;">
    <center><h2>Các sản phẩm thuộc loại @ViewBag.loai</h2></center>
</div>
<div class="row">
    @if (Model.Count() == 0)
    {
        <div class="item" style="padding:300px 0px; ">

            <center><h2>Không tìm thấy sản phẩm theo yêu cầu!!!!</h2></center>

        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="col-6 col-lg-3 col-sm-6 col-md-4 col-xl-3 col-xxl-2 cardsp">
                <a title="@item.TenSP" href="@Url.Action("ThongTinSanPham", "SanPham", new { MaSP = item.MaSP })">
                    <div class="sanpham-item">
                        <div class="aaa">
                            <img class="image" src="@item.AnhBia">
                        </div>
                        <div class="sanpham-item-text">

                            <ul>
                                <li>
                                    @if (item.TenSP.Length > 20)
                                    {
                                        <span class="ten">@item.TenSP.Substring(0, 20).Trim()...</span>
                                    }
                                    else
                                    {
                                        <span class="ten">@item.TenSP</span>
                                    }
                                </li>
                                <li class="giakm"> <b class="gia">@HoTro.TinhTienGiaGiam(item)</b><sup>đ</sup></li>
                                <li>
                                    @if (item.GiamGia > 0)
                                    {
                                        <span class="giagoc"> @HoTro.LayGiaMin(item) <sup>đ</sup></span><span> -@(item.GiamGia)%</span>
                                    }
                                </li>
                            </ul>
                            <div class="daban">
                                Đã bán @HoTro.XuatDoanhSo(item)
                            </div>
                            <div class="saoo">
                                @item.DanhGia <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <button class="btn_giohang" title="Thêm vào yêu thích">
                    <i class="bi bi-suit-heart-fill" style="font-size:70px; color:white"></i>
                </button>
            </div>
        }
    }
</div>
<script src="~/js/dc.js"></script>
<script src="~/js/dichChuyen.js"></script>