@{
    ViewBag.Title = "Sửa đia chỉ";
    Layout = "~/Views/KenhBanHang/KenhBanHang.cshtml";
}

@model IEnumerable<ThuongMaiDienTu.Models.KhuyenMai>
@using ThuongMaiDienTu.Models
<style>
    .item {
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 4px 10px #AAAAAA;
    }

    body {
        background-color: #f5f5fa;
    }

    .tenkm {
        color: #AAAAAA;
        font-size: 14px;
    }

    a {
        text-decoration: none;
    }
</style>
<style>
    .tabss {
        display: flex;
        position: relative;
    }

        .tabss .line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 6px;
            border-radius: 15px;
            background-color: #0dcaf0;
            transition: all 0.2s ease;
        }

    .tab-itemm {
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        text-align: center;
        color: #00758d;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 5px solid transparent;
        opacity: 0.7;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .tab-iconn {
        font-size: 24px;
        width: 32px;
        position: relative;
        top: 2px;
    }

    .tab-itemm:hover {
        opacity: 1;
        background-color: #dcf9ff;
        border-color: #0dcaf0;
    }

    .tab-itemm.activee {
        opacity: 1;
    }

    .tab-contentt {
        padding: 10px 20px;
    }

    .tab-panee {
        color: #333;
        display: none;
    }

        .tab-panee.activee {
            display: block;
        }

        .tab-panee h2 {
            font-size: 24px;
            margin-bottom: 8px;
        }

    .line_tinh {
        border-top: 2px solid #333;
    }
</style>

<div class="container-lg">
    <hr />
    <a href="@Url.Action("TaoKhuyenMai")" class="btn btn-outline-info w-100 item" style="height:50px;">TẠO MÃ GIẢM GIÁ MỚI</a>
    <div class="item" style="padding:10px; min-height:800px; margin-top:20px;">
        @if (Model.Count() == 0)
        {
            <div style="align-content:center; text-align:center; padding-top:160px; justify-content:center; align-items:center;">
                <img style="width:20%; position:relative; margin: auto auto;" src="/Image/CuaHangTrong.jpg" />
                <center><h4>Bạn chưa có voucher nào!!! <a style="text-decoration:none;" href="@Url.Action("TaoKhuyenMai")">Tạo ngay</a></h4></center>
            </div>
        }
        else
        {
            <div class="row">
                <div class="tabss w-100">
                    <div class="tab-itemm activee">
                        <i class="tab-icon fas fa-code"></i>
                        Tất cả
                    </div>
                    <div class="tab-itemm">
                        <i class="tab-icon fas fa-cog"></i>
                        Đang diễn ra
                    </div>
                    <div class="tab-itemm">
                        <i class="tab-icon fas fa-plus-circle"></i>
                        Sắp diễn ra
                    </div>
                    <div class="tab-itemm">
                        <i class="tab-icon fas fa-pen-nib"></i>
                        Đã kết thúc
                    </div>
                    <div class="line"></div>
                </div>
                <div class="w-100" style="border-bottom:1px solid #AAAAAA"></div>
            </div>
            <div class="tab-contentt w-100">
                <div class="tab-panee activee">
                    <table class="table table-hover table-striped table-bordered" border="1" style="align-content:center;text-align:center;justify-content:center;align-items:center; margin-top:16px;">
                        <thead>
                            <tr>
                                <th>
                                    Mã/Tên
                                </th>
                                <th>
                                    Tỷ lệ giảm giá
                                </th>
                                <th>
                                    Số lượt sử dụng
                                </th>
                                <th>
                                    Đã dùng
                                </th>
                                <th>
                                    Mức giảm tối đa
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Thao Tác
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td title="@item.TenKhuyenMai">
                                    <b>@item.MaVoucher</b>
                                    <br />
                                    @if (item.TenKhuyenMai.Length > 30)
                                    {
                                        <span class="tenkm">@item.TenKhuyenMai.Substring(0, 30)...</span>
                                    }
                                    else
                                    {
                                        <span class="tenkm">@item.TenKhuyenMai</span>
                                    }
                                </td>
                                <td>
                                    @(item.TyLeGiamGia * 100)%
                                </td>
                                <td>
                                    @item.LuotSuDung
                                </td>
                                <td>
                                    @HoTro.LaySoNguoiDungMaKM(item)
                                </td>
                                <td>
                                    @item.MucGiamToiDa
                                </td>
                                <td>
                                    <b>@HoTro.TrangThaiKhuyenMai(item)</b><br />
                                    <span>@item.NgayBatDau -<br />@item.NgayKetThuc</span>
                                </td>
                                <td>
                                    <a href="@Url.Action("SuaKhuyenMai",new {Ma = item.MaGiamGia})">Chỉnh sửa</a><br /><br />
                                    <a href="#" onclick="ThongBao('@item.TenKhuyenMai','@item.MaGiamGia')">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>

                </div>
                <a id="thongbao" hidden class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#show">
                    Xóa
                </a>
                <div id="boxshow">

                </div>
                @using (Html.BeginForm("XoaKhuyenMai", "KenhBanHang", method: FormMethod.Post))
                {
                    <button id="btn_xoa" hidden name="MaKm" type="submit">Xóa</button>
                }
                <div class="tab-panee">
                    @{List<KhuyenMai> DangDienRa = Model.Where(m => HoTro.TrangThaiKhuyenMai(m).Equals("Đang diễn ra")).ToList();
                        if (DangDienRa.Count() == 0)
                        {
                            <center><h4>Bạn không có voucher nào đang diển ra!</h4></center>
                        }
                        else
                        {
                            <table class="table table-hover table-striped table-bordered" border="1" style="align-content:center;text-align:center;justify-content:center;align-items:center;">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã/Tên
                                        </th>
                                        <th>
                                            Tỷ lệ giảm giá
                                        </th>
                                        <th>
                                            Số lượt sử dụng
                                        </th>
                                        <th>
                                            Đã dùng
                                        </th>
                                        <th>
                                            Mức giảm tối đa
                                        </th>
                                        <th>
                                            Trạng thái
                                        </th>
                                        <th>
                                            Thao Tác
                                        </th>
                                    </tr>
                                </thead>

                                @foreach (var item in DangDienRa)
                                {
                                    <tr>
                                        <td title="@item.TenKhuyenMai">
                                            <b>@item.MaVoucher</b>
                                            <br />
                                            @if (item.TenKhuyenMai.Length > 30)
                                            {
                                                <span class="tenkm">@item.TenKhuyenMai.Substring(0, 30)...</span>
                                            }
                                            else
                                            {
                                                <span class="tenkm">@item.TenKhuyenMai</span>
                                            }
                                        </td>
                                        <td>
                                            @(item.TyLeGiamGia * 100)%
                                        </td>
                                        <td>
                                            @item.LuotSuDung
                                        </td>
                                        <td>
                                            @HoTro.LaySoNguoiDungMaKM(item)
                                        </td>
                                        <td>
                                            @item.MucGiamToiDa
                                        </td>
                                        <td>
                                            <span>@item.NgayBatDau -<br />@item.NgayKetThuc</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("SuaKhuyenMai",new {Ma = item.MaGiamGia})">Chỉnh sửa</a><br /><br />
                                            <a href="#"onclick="ThongBao('@item.TenKhuyenMai','@item.MaGiamGia')">Xóa</a>
                                        </td>
                                    </tr>
                                }

                            </table>
                        }}
                </div>
                <div class="tab-panee ">
                    @{
                        DateTime today = DateTime.Now;
                        List<KhuyenMai> SapDienRa = Model.Where(m => m.NgayBatDau > today).ToList();
                        if (SapDienRa.Count() == 0)
                        {
                            <center><h4>Bạn không có voucher nào sắp diển ra!</h4></center>
                        }
                        else
                        {
                            <table class="table table-hover table-striped table-bordered" border="1" style="align-content:center;text-align:center;justify-content:center;align-items:center;">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã/Tên
                                        </th>
                                        <th>
                                            Tỷ lệ giảm giá
                                        </th>
                                        <th>
                                            Số lượt sử dụng
                                        </th>
                                        <th>
                                            Đã dùng
                                        </th>
                                        <th>
                                            Mức giảm tối đa
                                        </th>
                                        <th>
                                            Trạng thái
                                        </th>
                                        <th>
                                            Thao Tác
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in SapDienRa)
                                {
                                    <tr>
                                        <td title="@item.TenKhuyenMai">
                                            <b>@item.MaVoucher</b>
                                            <br />
                                            @if (item.TenKhuyenMai.Length > 30)
                                            {
                                                <span class="tenkm">@item.TenKhuyenMai.Substring(0, 30)...</span>
                                            }
                                            else
                                            {
                                                <span class="tenkm">@item.TenKhuyenMai</span>
                                            }
                                        </td>
                                        <td>
                                            @(item.TyLeGiamGia * 100)%
                                        </td>
                                        <td>
                                            @item.LuotSuDung
                                        </td>
                                        <td>
                                            @HoTro.LaySoNguoiDungMaKM(item)
                                        </td>
                                        <td>
                                            @item.MucGiamToiDa
                                        </td>
                                        <td>
                                            <span>@item.NgayBatDau -<br />@item.NgayKetThuc</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("SuaKhuyenMai",new {Ma = item.MaGiamGia})">Chỉnh sửa</a><br /><br />
                                            <a href="#"onclick="ThongBao('@item.TenKhuyenMai','@item.MaGiamGia')">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        } }
                </div>
                <div class="tab-panee ">
                    @{
                        List<KhuyenMai> KetThuc = Model.Where(m => m.NgayKetThuc < today).ToList();
                        if (KetThuc.Count() == 0)
                        {
                            <center><h4>Bạn chưa có voucher nào kết thúc!!!</h4></center>
                        }
                        else
                        {
                            <table class="table table-hover table-striped table-bordered" border="1" style="align-content:center;text-align:center;justify-content:center;align-items:center;">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã/Tên
                                        </th>
                                        <th>
                                            Tỷ lệ giảm giá
                                        </th>
                                        <th>
                                            Số lượt sử dụng
                                        </th>
                                        <th>
                                            Đã dùng
                                        </th>
                                        <th>
                                            Mức giảm tối đa
                                        </th>
                                        <th>
                                            Trạng thái
                                        </th>
                                        <th>
                                            Thao Tác
                                        </th>
                                    </tr>
                                </thead>

                                @foreach (var item in KetThuc)
                                {
                                    <tr>
                                        <td title="@item.TenKhuyenMai">
                                            <b>@item.MaVoucher</b>
                                            <br />
                                            @if (item.TenKhuyenMai.Length > 30)
                                            {
                                                <span class="tenkm">@item.TenKhuyenMai.Substring(0, 30)...</span>
                                            }
                                            else
                                            {
                                                <span class="tenkm">@item.TenKhuyenMai</span>
                                            }
                                        </td>
                                        <td>
                                            @(item.TyLeGiamGia * 100)%
                                        </td>
                                        <td>
                                            @item.LuotSuDung
                                        </td>
                                        <td>
                                            @HoTro.LaySoNguoiDungMaKM(item)
                                        </td>
                                        <td>
                                            @item.MucGiamToiDa
                                        </td>
                                        <td>
                                            <span>@item.NgayBatDau -<br />@item.NgayKetThuc</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("SuaKhuyenMai",new {Ma = item.MaGiamGia})">Chỉnh sửa</a><br /><br />
                                            <a href="#"onclick="ThongBao('@item.TenKhuyenMai','@item.MaGiamGia')">Xóa</a>
                                        </td>
                                    </tr>
                                }

                            </table>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>
<script src="~/js/ThongBao.js"></script>
<script src="~/js/Tab_TuyBien.js"></script>
<script>
    document.getElementById('TrangLoad').innerText = "Khuyến mãi của tôi"
</script>